h1, h2 {
  margin: 0;
  padding: 10px 0;
}

.button-sample-groups {
  margin: 0; padding: 0;
}

.button-sample-groups .sample-group {
  list-style: none; margin: 0; padding: 0;
}

.button-sample-groups .sample-group .ui.button {
  margin-bottom: 5px;
}

.fetch-action-demo-forms .form-fetch-action {
  border: 1px red dashed; /* show the border for demo purpose */
}

.icon-gallery-search {
  width: 300px;
}

.icon-gallery-card {
  width: 120px;
}

.icon-gallery-preview {
  height: 32px;
}

.icon-gallery-name {
  max-width: 108px;
  font-size: 10px;
}
